/*
 * Name: Kyle Huang
 * Date: 10/12/2022
 *
 * This is the styles.css page of index.html containing the design/style code
 * to make it more visually appealing.
 */

:root {
  --white-color: #fff;
  --delete-btn-size: 2em;
  --nav-bg-color: #0f394c;
  --bg-color: #001417;
  --title-header-bg-color: #2f9cca;
  --blog-bg-btn: radial-gradient(#fff, #c5c5c5);
  --blog-bg-color: #122c36;
}

body {
  background-color: var(--bg-color);
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.1rem;
  color: var(--white-color);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  background: var(--nav-bg-color);
}

#nav-list {
  display: flex;
  align-items: center;
}

#nav-list li {
  list-style: none;
  margin-left: 1em;
}

/* title */
header {
  text-align: left;
  color: var(--title-header-bg-color);
  display: flex;
}

header h1 {
  align-self: center;
}

header h1, main {
  margin: 0 auto;
}

/* create and delete button */
#create-blog-btn, #blog-clear {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  border-color: transparent;
  background: var(--blog-bg-btn);
}

#create-blog-btn:hover, #blog-clear:hover {
  background: var(--white-color);
}

/* color changer switch */
#color-changer {
  display: flex;
  align-items: center;
}

#color-changer > span {
  font-size: 0.7rem;
}

#color-change-container {
  background: var(--white-color);
  width: 2em;
  height: 1em;
  display: flex;
  justify-content: flex;
  align-items: center;
  border-radius: 1.2em;
  position: relative;
  cursor: pointer;
  margin: 0 0.3em;
}

#color-change-circle {
  display: inline-block;
  background: rgb(143, 143, 143);
  width: 1em;
  height: 1em;
  border-radius: 1.2em;
  position: absolute;
}

#color-change-circle:hover {
  background: rgb(87, 87, 87);
  transition: left 0.2s ease-in-out;
}

/* blogs */
.blogs {
  margin: 1.2em auto;
  background: var(--blog-bg-color);
  width: 80vw;
  max-width: 920px;
  padding: 0.9em 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border-radius: 5px;
}

[type="text"], textarea {
  padding: 0.3rem;
  box-sizing: border-box;
  background: transparent;
  border-radius: 10px;
  border: 0.15rem solid rgb(45, 100, 124);
  color: var(--white-text);
}

[type="text"]:focus, textarea:focus {
  outline: 0.1rem solid rgb(24, 78, 61);
}

[type="text"] {
  font-size: 2em;
  font-weight: bold;
}

.text-inputs {
  font-size: 1.6em;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  height: var(--delete-btn-size);
  width: var(--delete-btn-size);
  font-size: 0.95rem;
  border-radius: 10px;
  border: none;
}

.delete-btn:hover {
  background: rgb(244, 120, 120);
}

/* color change */
.blog-color-change {
  color: #00416f;
  background: #a9e1ca;
}

.body-bg-color-change {
  background: #d9ffff;
}

.title-bg-color-change {
  color: rgb(0, 69, 83);
}

.nav-bg-color-change {
  background: #5ab6dd;
}